@import 'tailwindcss';

body {
	font-family: "Atkinson Hyperlegible Next", sans-serif;
	padding: 3rem 1.25rem;
}

h2 {
	font-weight: bold;
}

.btn {
	@apply mt-4 w-full rounded bg-indigo-600 px-4 py-2 text-white hover:bg-indigo-700 focus:ring-2 focus:ring-indigo-500 focus:outline-none;
}